<form [formGroup]="savePatientForm" >
  <div class="card shadow mb-3" style="margin-right: 444px;margin-left: 326px;padding-top: 0px;margin-bottom: 0px;padding-bottom: 0px;">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold">Ajouter Patient</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xxl-12">
          <div class="mb-3"><label class="form-label" for="nom"><strong>nom</strong></label>
            <input class="form-control" type="text" id="nom" placeholder="nom" name="nom" formControlName="nom" required></div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xxl-12">
          <div class="mb-3"><label class="form-label" for="prenom"><strong>prenom</strong></label>
            <input class="form-control" type="text" id="prenom" placeholder="prenom" name="prenom" formControlName="prenom" required></div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="dateNaissance"><strong>Date de Naissance</strong></label>
          <input type="date" class="form-control" id="dateNaissance" formControlName="dateNaissance">
        </div>
        <div class="mb-3">
          <label class="form-label" for="sexe"><strong>Sexe</strong></label>
          <select class="form-control" id="sexe" formControlName="sexe">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xxl-12">
          <div class="mb-3"><label class="form-label" for="adresse"><strong>adresse</strong></label>
            <input class="form-control" type="text" id="adresse" placeholder="adresse" name="adresse" formControlName="adresse" required></div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xxl-12">
          <div class="mb-3"><label class="form-label" for="numeroTelephone"><strong>numeroTelephone</strong></label>
            <input class="form-control" type="text" id="numeroTelephone" placeholder="numeroTelephone" name="numeroTelephone" formControlName="numeroTelephone" required></div>
        </div>
      </div><button class="btn btn-primary btn-lg" type="submit" style="margin-top: 10px;" (click)="savePatient()" [disabled]="savePatientForm.invalid" >Ajouter</button>
    </div>
  </div>
  <div class="text-end mb-3" style="margin-bottom: 8px;padding-bottom: 0px;"></div>
</form>
