<form #addechantillon=ngForm (ngSubmit)="addEchantillon(addechantillon)">
  <div class="card shadow mb-3" style="margin-right: 444px; margin-top: 100px; margin-left: 326px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold">Ajouter Echantilllon</p>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label class="form-label" for="nomAnalyse"><strong>Nom Analyse</strong></label>
        <input class="shadow form-control" type="text"  id="nomAnalyse" [(ngModel)]="echantillon.nomAnalyse" placeholder="Nom Analyse" required>
      </div>

      <div class="mb-3">
        <label class="form-label"><strong>Patient</strong></label>
        <select class="shadow form-select" id="patientId" [(ngModel)]="echantillon.patient.nom"  placeholder="Patient">
          <option *ngFor="let patient of patients" [ngValue]="patient.id">{{ patient.nom }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label"><strong>Patient</strong></label>
        <select class="shadow form-select" id="material" [(ngModel)]="echantillon.echantillonMaterials"  placeholder="Patient">
          <option *ngFor="let material of materials" [ngValue]="material.id">{{ material.nomechan }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="datePrelevement"><strong>Quantity material</strong></label>
        <input class="shadow form-control"  type="number" id="Quantity material" [(ngModel)]="echantillon." placeholder="Quantity material" required>
      </div>
      <div class="mb-3">
        <label class="form-label"  for="datePrelevement"><strong>Date Prelevement</strong></label>
        <input class="shadow form-control"  type="text" id="datePrelevement" ngModel placeholder="Date Prelevement" required>
      </div>

      <button class="btn btn-primary btn-lg" [disabled]="addechantillon.invalid"  type="submit" style="margin-top: 10px;">Ajouter</button>

    </div>
  </div>
</form>
