<!-- add-echantillon.component.html -->

<form (ngSubmit)="onSubmit()">
  <div class="card shadow mb-3" style="margin-right: 444px; margin-top: 100px; margin-left: 326px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold">Ajouter Echantillon</p>
    </div>
    <div class="card-body">
      <div class="container mt-4">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="datePrelevement">Date de Prélèvement :</label>
              <input class="shadow form-control" type="text" id="datePrelevement" name="datePrelevement" formControlName="datePrelevement" placeholder="Date Prelevement" required>
            </div>

            <div class="form-group">
              <label >Patient :</label>
              <select class="shadow form-select"  name="patient" formControlName="patient" placeholder="Patient">
                <option *ngFor="let patient of patients" [value]="patients">{{ patient.nom }}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Utilisateur :</label>
              <select class="shadow form-select" name="utilisateur" formControlName="utilisateurPreleveur" placeholder="Utilisateur">
                <option *ngFor="let utilisateurPreleveur of utilisateurPreleveur" [value]="utilisateurPreleveur">{{ utilisateurPreleveur.nom }}</option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="nomAnalyse">Nom Analyse :</label>
              <input class="shadow form-control" type="text" id="nomAnalyse"  name="nomAnalyse" formControlName="nomAnalyse" placeholder="Nom Analyse" required>
            </div>

            <div class="form-group">
              <label >Material :</label>
              <select class="shadow form-select"  name="material" formControlName="material" placeholder="Material">
                <option *ngFor="let materialEchan of materialEchan" [value]="materialEchan">{{ materialEchan.nomechan }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="quantityMaterial">Quantité Material :</label>
              <input class="shadow form-control" type="number" id="quantityMaterial" formControlName="quantityMaterial" name="quantityMaterial" placeholder="Quantité Material" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary btn-lg" type="submit" style="margin-top: 10px;">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
