<div class="container-fluid">
  <form class="card shadow mb-3" style="margin-right: 444px; margin-left: 326px; padding: 0;" [formGroup]="updatePatientForm">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold">Modifier Patient</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xxl-12">
          <div class="mb-3">
            <label class="form-label" for="nom"><strong>Nom</strong></label>
            <input type="text" class="form-control" id="nom" formControlName="nom">
          </div>
          <div class="mb-3">
            <label class="form-label" for="prenom"><strong>Prénom</strong></label>
            <input type="text" class="form-control" id="prenom" formControlName="prenom">
          </div>
          <div class="mb-3">
            <label class="form-label" for="dateNaissance"><strong>Date de Naissance</strong></label>
            <input type="date" class="form-control" id="dateNaissance" formControlName="dateNaissance">
          </div>
          <div class="mb-3">
            <label class="form-label" for="sexe"><strong>Sexe</strong></label>
            <select class="form-control" id="sexe" formControlName="sexe">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label" for="adresse"><strong>Adresse</strong></label>
            <input type="text" class="form-control" id="adresse" formControlName="adresse">
          </div>
          <div class="mb-3">
            <label class="form-label" for="numeroTelephone"><strong>Numéro de Téléphone</strong></label>
            <input type="tel" class="form-control" id="numeroTelephone" formControlName="numeroTelephone">
          </div>
        </div>
      </div>
      <button (click)="updatePatient()" class="btn btn-primary" [disabled]="updatePatientForm.invalid">Modifier</button>
    </div>
  </form>
</div>
