<nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;margin-bottom: 8px;padding-top: 20px;padding-bottom: 24px;">
  <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div><a class="navbar-brand" href="#" style="margin-top: 7px; margin-right: 80px; color: aliceblue"><span class="text-start" style="font-weight: bold; font-size: 30px;">LABXANALYSE</span> </a></div>
    <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
      <ul class="navbar-nav nav-right">
        <li class="nav-item" style="padding-left: 2px;margin-left: -149px;"><a class="nav-link active" data-bss-hover-animate="rubberBand" routerLink="/" style="color: rgba(224,217,217,0.9);margin-left: 144px;">Home</a></li>
        <li class="nav-item"><a class="nav-link active"  routerLink="/afficher-utilisateur" style="color: rgba(224,217,217,0.9);margin-left: 1px;">Utilisateur</a></li>
        <li class="nav-item"><a class="nav-link active"  routerLink ="/patient" style="color: rgba(224,217,217,0.9);">Patient</a></li>
        <li class="nav-item"><a class="nav-link active"  routerLink="/afficher-reactif" style="color: rgba(224,217,217,0.9);">Reactif</a></li>
        <li class="nav-item"><a class="nav-link active"  routerLink="/planification" style="color: rgba(224,217,217,0.9);">Planification</a></li>
        <li class="nav-item"></li>
        <li class="nav-item"><a class="nav-link"  routerLink ="/afficher-material" style="color: rgba(224,217,217,0.9);">Material</a></li>
        <li class="nav-item"><a class="nav-link"  routerLink="/echantillon" style="color: rgba(224,217,217,0.9);">Echantillon</a></li>
        <li class="nav-item"><a class="nav-link"  routerLink="/analyse" style="color: rgba(224,217,217,0.9);">Analyse</a></li>
        <li class="nav-item"><a class="nav-link"  routerLink="afficher-norme" style="color: rgba(224,217,217,0.9);">Norme</a></li>
        <li class="nav-item"><a class="nav-link"  routerLink="/type-analyse" style="color: rgba(224,217,217,0.9);">TpAnalyse</a></li>
        <li class="nav-item"><a class="nav-link"  routerLink="/test-analyse" style="color: rgba(224,217,217,0.9);">TestAnalyse</a></li>
      </ul>
      <p class="ms-auto navbar-text actions" data-bss-hover-animate="rubberBand" style="margin-bottom: -12px;margin-top: -11px;"><a class="login" href="login.html" style="color: rgba(224,217,217,0.9);">Log In</a> </p>
    </div>
  </div>
</nav>
