<!--&lt;!&ndash; update-echantillon.component.html &ndash;&gt;-->
<!--<form [formGroup]="echantillonForm">-->
<!--  <div class="mb-3">-->
<!--    <label for="datePrelevement" class="form-label">Date Prélèvement</label>-->
<!--    <input type="date" class="form-control" id="datePrelevement" formControlName="datePrelevement" required>-->
<!--  </div>-->

<!--  &lt;!&ndash; Display added materials &ndash;&gt;-->
<!--  <div formArrayName="echantillonMaterials">-->
<!--    <div *ngFor="let material of echantillonForm.get('echantillonMaterials').value; let i = index">-->
<!--      <div [formGroupName]="i">-->
<!--        <div class="mb-3">-->
<!--          <label class="form-label">Material:</label>-->
<!--          <input type="text" class="form-control" [value]="material.materielEchan.nomechan" readonly/>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--          <label  class="form-label">Quantity:</label>-->
<!--          <input type="number" class="form-control" [value]="material.quantity" readonly/>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Add Material button &ndash;&gt;-->
<!--  <button type="button" class="btn btn-primary" (click)="addMaterial()">Add Material</button>-->

<!--  &lt;!&ndash; Update button &ndash;&gt;-->
<!--  <button type="submit" class="btn btn-success" (click)="updateForm()">Update</button>-->
<!--</form>-->
