<!--<form [formGroup]="form" (ngSubmit)="submit()">-->
<!--  <div class="card shadow mb-3" style="margin-right: 444px;margin-top: 100px; margin-left: 326px;padding-top: 0px;margin-bottom: 0px;padding-bottom: 0px;">-->
<!--    <div class="card-header py-3">-->
<!--      <p class="text-primary m-0 fw-bold">Update Echantillon</p>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <div class="mb-3">-->
<!--        <label class="form-label"><strong>Patient</strong></label>-->
<!--        <select class="shadow form-select form-select" id="patient" name="patientId" placeholder="patient" formControlName="patientId">-->
<!--          <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.name }}</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label class="form-label"><strong>NomAnalyse</strong></label>-->
<!--        <input class="shadow form-control" type="text" id="service_name-1" placeholder="nomanalyse" name="nomAnalyse" formControlName="nomAnalyse" required="">-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label class="form-label"><strong>DatePrelevement</strong><br></label>-->
<!--        <input class="shadow form-control" type="text" id="service_name-5" placeholder="datePrelevement" name="datePrelevement" formControlName="datePrelevement" required="">-->
<!--      </div>-->
<!--      <a class="btn link-warning btnMaterial btn-flat primary semicircle" role="button" routerLink="/add-echantillon" style="color: #00bdff;margin-left: 652px;"><i class="fas fa-user-plus"></i></a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="text-end mb-3" style="margin-bottom: 8px;padding-bottom: 0px;"></div>-->
<!--</form>-->
